<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.openthos.taskmanager"
          android:installLocation="internalOnly">

    <permission
        android:name="org.openthos.taskmanager.permission.MANAGER"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- <permission android:name="android.permission.ACCESS_SUPERUSER"/> -->
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="org.openthos.taskmanager.permission.MANAGER"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="@string/xposed_module"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_summary"/>
        <meta-data
            android:name="xposedminversion"
            android:value="@string/xposed_version"/>

        <activity
            android:name=".prevent.ui.PreventActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<action android:name="org.openthos.taskmanager.prevent.NOT_SUPPORTED"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <provider
            android:name=".prevent.ui.PreventProvider"
            android:authorities="org.openthos.taskmanager.prevent.provider"
            android:permission="android.permission.SHUTDOWN"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.openthos.taskmanager.prevent.NOT_SUPPORTED"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>